
<mat-tab-group>
  <mat-tab label="Menu">
   
     
  </mat-tab>
  <mat-tab label="COVID-19">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        label="COVID-19"
        routerLink="classic/iframe1"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        mapa de COVID-19
      </a>
     </nav>
     
  </mat-tab>
  <mat-tab label="Ebola"> 
    <nav mat-tab-nav-bar>
  
      <a mat-tab-link
        label="Ebola"
        routerLink="classic/iframe2"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        mapa de Ebola
      </a>
      
     </nav> </mat-tab>
  <mat-tab label="VIH">
    <nav mat-tab-nav-bar>

      <a mat-tab-link
        label="VIH"
        routerLink="classic/iframe3"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        mapa de VIH
      </a>
     </nav>
  </mat-tab>
</mat-tab-group>




<router-outlet></router-outlet>

