<mat-sidenav-container fullscreen>
  <mat-sidenav position="end" #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase();"
    (mouseleave)="decrease();">
    <div class="logomain"><mat-icon>dashboard</mat-icon></div>
    <mat-tab-group [ngStyle]="{ 'opacity': sidenavOpacity }">
    <mat-tab label="análisis de la situación actual"> 
    <ngb-carousel [ngStyle]="{ 'opacity': sidenavOpacity }">
      <ng-template ngbSlide>
        <div class="wrapper">
          <h5 position="start" style="margin-left: 5%;"> Serie de tiempo para casos de contagio </h5>
          <img  position="start" style="margin-left: 5%;border-radius: 2%;" src="https://res.cloudinary.com/dbmokzjuz/image/upload/v1605438712/ebola1.png" width=95% height=25%>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <h5 position="start" style="margin-left: 5%;"> Serie de tiempo para casos de mortalidad</h5>
          <img  position="start" style="margin-left: 5%;border-radius: 2%;" src="https://res.cloudinary.com/dbmokzjuz/image/upload/v1605438712/ebola2.png" width=95% height=25%>
        </div>
      </ng-template>
      
    </ngb-carousel>
    <h5  [ngStyle]="{ 'opacity': sidenavOpacity }" position="start" style="margin-left: 5%;">Diagramas de caja y bigotes sobre temporadas y Años:</h5>
    <img [ngStyle]="{ 'opacity': sidenavOpacity }" position="start" style="margin-left: 5%;border-radius: 2%;" src="https://res.cloudinary.com/dbmokzjuz/image/upload/v1605435002/ebola3.png" width=95% height=25%>
  </mat-tab>  
  </mat-tab-group>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <!-- <router-outlet></router-outlet> -->
    <body>
      <p style="opacity: 0.8; color: white; margin-left: 5%; margin-right: 5%;font-size: 15px;">Si se desea observar todos los componentes de GIS se debe abrir una cuenta. En caso contrario, solo se debe cerrar la pestaña. Por otro lado, debe acercar al mapa para poder ver mas en detalle todos los componentes de Ébola. Al realizar ¨click¨sobre los componentes se desplegaran gráficos y detalle del mismo.</p>
      <div style="position: relative; left: 0; top: 0; height: 100%;">
        <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Ebola" src="//radiohead-99.maps.arcgis.com/apps/Embed/index.html?webmap=358eef9feeb04ad9b6ad6ae6de96a36b&extent=-88.9272,-22.0697,49.6763,48.7747&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&legendlayers=true&basemap_gallery=true&disable_scroll=true&theme=dark"></iframe></div>
      </div>
    </body>
  </div>


</mat-sidenav-container>